<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 ">
      <!--Sidebar content-->

      <div class="pe-5 border-end">
        <div class="mb-3">
          <label for="sort-option" class="col-form-label">Sort by:</label>
          <select id="sort-option" class="form-control" ng-model="$ctrl.sort" ng-change="$ctrl.getProductsByCategory()">
            <option value="product.title">Alphabetical ascending</option>
            <option value="-product.title">Alphabetical descending</option>
            <option value="price_after_discount">Price increase</option>
            <option value="-price_after_discount">Price decrease</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="category-option" class="col-form-label">Filter category:</label>
          <select id="category-option" class="form-control" ng-model="$ctrl.category"
            ng-change="$ctrl.getProductsByCategory()">
            <option value="">Choose Category...</option>
            <option ng-repeat="item in $ctrl.categories" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>

        <button type="button" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#formModal"
          ng-click="$ctrl.handleClickAddBtn()">Add
          product</button>
      </div>
    </div>

    <div class="col-md-9">
      <!--Body content-->
      <div ng-if="$ctrl.loading" class="ps-5">Loading...</div>
      <div ng-if="$ctrl.products.data.length === 0" class="ps-5">No product...</div>
      <ul ng-if="!$ctrl.loading" class="products">
        <li ng-repeat="product in $ctrl.products.data" class="position-relative">
          <div ng-if="product.discountPercentage != 0" class="product-discount bg-danger">
            {{product.discountPercentage}}% OFF</div>
          <div class="d-flex ">
            <a href="#!/products/{{product.id}}" class="thumb">
              <img ng-src="{{product.thumbnail}}" alt="{{product.title}}" />
            </a>
            <div>
              <a class="fs-5 text-primary text-decoration-none " href="#!/products/{{product.id}}">{{product.title}}</a>
              <p>{{product.description}}</p>
              <div>
                <span ng-if="product.discountPercentage != 0"
                  ng-class="{'text-decoration-line-through' : product.discountPercentage}">{{product.price |
                  currency}}</span>
                <span class="text-primary fs-5 ">{{product.price - (product.price * product.discountPercentage)/100 |
                  currency}}</span>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0 px-4">
            <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#formModal"
              ng-click="$ctrl.handleClickEditBtn(product)">Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.handleDelete(product)">Delete
            </button>
          </div>
        </li>
      </ul>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li ng-class="['page-item', {'disable' : $ctrl.products.current_page == 1}]"
            ng-click="$ctrl.handlePreviousPage()">
            <div class="page-link">Previous</div>
          </li>
          <li ng-class="['page-item', {'active' : page == $ctrl.products.current_page}]"
            ng-repeat="page in $ctrl.totalPages" ng-click="$ctrl.handleChangePage(page)">
            <div class="page-link">{{page}}</div>
          </li>
          <li ng-class="['page-item', {'disable' : $ctrl.products.current_page == $ctrl.products.total_pages}]"
            ng-click="$ctrl.handleNextPage()">
            <div class="page-link">Next</div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Form Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">{{$ctrl.formLabel}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="productForm" ng-submit="$ctrl.onSubmitForm()">
          <div class="mb-3">
            <label for="product-title" class="col-form-label">Title:</label>
            <input required ng-model="$ctrl.productData.title" placeholder="Input title" type="text"
              class="form-control" id="product-title">
          </div>
          <div class="mb-3">
            <label for="product-description" class="col-form-label">Description:</label>
            <textarea required ng-model="$ctrl.productData.description" placeholder="Input description"
              class="form-control" id="product-description"></textarea>
          </div>

          <div class="mb-3">
            <select required ng-model="$ctrl.productData.category_id" class="form-select">
              <option value="">Choose Category...</option>
              <option ng-repeat="item in $ctrl.categories" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="formPrice" class="form-label">Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input name="productPrice" required ng-model="$ctrl.productData.price" placeholder="Product discount"
                ng-pattern="/^\d+(\.\d{1,2})?$/"
                ng-class="[ 'form-control', { 'border border-danger': productForm.productPrice.$error.pattern,} ]"
                aria-label="Amount (to the nearest dollar)">

            </div>
            <div class="text-danger" ng-show="productForm.productPrice.$error.pattern">
              Please input correct price format.
            </div>
          </div>
          <div class="mb-3">
            <label for="formPrice" class="form-label">Discount</label>
            <div class="input-group mb-3">

              <input name="productDiscount" required ng-model="$ctrl.productData.discountPercentage"
                placeholder="Product discount" ng-pattern="/^[0-9][0-9]?$|^100$/"
                ng-class="[ 'form-control', { 'border border-danger': productForm.productDiscount.$error.pattern,} ]"
                aria-label="Amount (to the nearest dollar)">
              <div class="input-group-prepend">
                <span class="input-group-text">%</span>
              </div>

            </div>
            <div class="text-danger" ng-show="productForm.productDiscount.$error.pattern">
              Please input correct number format.
            </div>
          </div>
          <div class="mb-3">
            <label for="formThumbnail" class="form-label">Choose thumbnail</label>
            <input ng-model="$ctrl.productData.thumbnail" class="form-control" id="formThumbnail"
              placeholder="Add thumbnail url">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submit-btn"
              ng-disabled="productForm.$invalid">{{$ctrl.formLabel}}</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="position-fixed  bottom-0 end-0 p-3" style="z-index: 11">
  <div id="myToast" class="toast text-white bg-success hide" role="alert" aria-live="assertive" aria-atomic="true">

    <div class="toast-body ">
      {{$ctrl.toastText}}
    </div>
  </div>
</div>