<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 ">
      <!--Sidebar content-->

      <div class="pe-5 border-end">
        <div class="mb-3">
          <label for="sort-option" class="col-form-label">Search:</label>
          <div class="position-relative">
            <input ng-model='$ctrl.query' ng-change="$ctrl.getProducts()" ng-model-options="{ debounce: 500 }"
              type="search" class="form-control form-control-dark" placeholder="Search product..." aria-label="Search">
            <span ng-if='$ctrl.query'
              class="position-absolute end-0 top-50 translate-middle-y text-black-50 cursor pe-3 fs-5"
              style="cursor: pointer;" ng-click="$ctrl.handleClearSearch()">&times;</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="sort-option" class="col-form-label">Sort by:</label>
          <select id="sort-option" class="form-control" ng-model="$ctrl.sort" ng-change="$ctrl.getProducts()">
            <option value="title">Alphabetical ascending</option>
            <option value="-title">Alphabetical descending</option>
            <option value="calculatedPrice">Price increase</option>
            <option value="-calculatedPrice">Price decrease</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="category-option" class="col-form-label">Filter category:</label>
          <select id="category-option" class="form-control" ng-model="$ctrl.category" ng-change="$ctrl.getProducts()">
            <option value="">Choose Category...</option>
            <option ng-repeat="item in $ctrl.categories" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
        <div class="mb-3 d-flex gap-2">
          <button type="button"
            ng-class="['btn', 'btn-outline-success', 'btn-sm', 'w-100', {'active' : $ctrl.filterNew}]"
            ng-click="$ctrl.handleClickFilterNewProduct()">New
            Product</button>
          <button type="button"
            ng-class="['btn', 'btn-outline-danger',  'btn-sm', 'w-100', {'active' : $ctrl.filterDiscount}]"
            ng-click="$ctrl.handleClickFilterSaleOff()">Sale
            Off</button>
        </div>
        <button ng-if="$ctrl.isAdmin" type="button" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal"
          data-bs-target="#formModal" ng-click="$ctrl.handleClickAddBtn()">Add
          product</button>
      </div>
    </div>

    <div class="col-md-9">
      <!--Body content-->
      <div ng-if="$ctrl.loading" class="ps-5">Loading...</div>
      <div ng-if="$ctrl.products.data.length === 0" class="ps-5">No product...</div>
      <ul ng-if="!$ctrl.loading" class="products">
        <li ng-repeat="product in $ctrl.products.data" class="position-relative">
          <div ng-if="product.discountPercentage != 0" class="product-discount bg-danger">
            {{product.discountPercentage}}% OFF</div>
          <div ng-if="product.isNew == 1" ng-style="{'top': product.discountPercentage == 0 ? '10px' : '36px'}"
            class="product-new bg-success">
            New</div>
          <div class="d-flex ">
            <a href="#!/products/{{product.id}}" class="thumb">
              <img ng-src="{{product.thumbnail}}" alt="{{product.title}}" />
            </a>
            <div class="d-flex flex-column justify-content-between">
              <div>
                <a class="fs-5 text-primary text-decoration-none " href="#!/products/{{product.id}}">
                  {{product.title}}
                </a>

                <p class="mb-0" style="line-height: 1.3;">{{product.description}}</p>
              </div>
              <div>
                <span ng-if="product.discountPercentage != 0"
                  ng-class="{'text-decoration-line-through' : product.discountPercentage}">{{product.price |
                  currency}}</span>
                <span class="text-primary fs-5 ">{{product.price - (product.price * product.discountPercentage)/100 |
                  currency}}</span>
              </div>
            </div>
          </div>
          <div ng-if="$ctrl.isAdmin" class="flex-shrink-0 px-4">
            <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal" data-bs-target="#formModal"
              ng-click="$ctrl.handleClickEditBtn(product)">Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.handleDelete(product)">Delete
            </button>
          </div>
        </li>
      </ul>
      <nav ng-if="$ctrl.products.data.length != 0" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li ng-class="['page-item', {'disable' : $ctrl.products.current_page == 1}]"
            ng-click="$ctrl.handlePreviousPage()">
            <div class="page-link">Previous</div>
          </li>
          <li ng-class="['page-item', {'active' : page == $ctrl.products.current_page}]"
            ng-repeat="page in $ctrl.totalPages" ng-click="$ctrl.handleChangePage(page)">
            <div class="page-link">{{page}}</div>
          </li>
          <li ng-class="['page-item', {'disable' : $ctrl.products.current_page == $ctrl.products.total_pages}]"
            ng-click="$ctrl.handleNextPage()">
            <div class="page-link">Next</div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Form Modal -->
<product-form open_form="$ctrl.openForm" edit="$ctrl.edit" data='$ctrl.productData' categories='$ctrl.categories'
  submit="$ctrl.onSubmitForm"></product-form>

<!-- <div class='position-fixed  bottom-0 end-0 p-3' style='z-index: 11'>
  <div id='myToast' class='toast text-white bg-success hide' role='alert' aria-live='assertive' aria-atomic='true'>

    <div class='toast-body '>
      {{$ctrl.toastText}}
    </div>
  </div>
</div> -->